*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-image:url('assets/bg.jpg');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    font-family:Arial, sans-serif;
}

.overlay{
    width:90%;
    max-width:700px;
    text-align:center;
}

h1{
    color:rgb(255, 255, 255);
    margin-bottom:40px;
    line-height:1.5;
}

.btn{

    display:block;

    padding:20px;

    margin:15px 0;

    color:rgb(255, 255, 255);
    text-decoration:none;

    border-radius:25px;

    background:rgba(255,255,255,0.15);

    backdrop-filter:blur(10px);

    border:1px solid rgba(255,255,255,0.3);

    transition:0.3s;
}

.btn:hover{

    background:rgba(255,255,255,0.3);

    transform:scale(1.03);
}